{% if include.types %}
  {% assign types = include.types | split:"," %}
{% else %}
  {% assign types = nil %}
{% endif %}
{% assign datefmt = "%B %-d, %Y" %}

Dates may be subject to change. All dates are Anywhere on Earth (AoE), end of day.

<ul>
	{% for deadline in site.conference.deadlines %}
    {% unless deadline.hide %}
    {% if deadline.type == nil or types == nil or types contains deadline.type %}

      {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
      {% if deadline.enddate %}
        {% assign enddate = deadline.enddate %}
      {% else %}
        {% assign enddate = deadline.date %}
      {% endif %}
      {% capture endunix %}{{ enddate | date: '%s' | plus: 172800 }}{% endcapture %}

      <li>
        {% if endunix < nowunix %}<s>{% endif %}
        {% if deadline.important  %}<strong>{% endif %}

        {{ deadline.name }}:
        {% if deadline.text %}
          {{ deadline.text }}
        {% elsif deadline.time %}
          <time datetime="{{ deadline.time }}">
            {{ deadline.time | date: "%A, -d %B %Y %I:%M%P" }}
            {% if site.TZ %} ({{ site.TZ }}){% endif %}
          </time>
        {% elsif deadline.date %}
          {% if deadline.old %}
            <s>
              <time datetime="{{ deadline.old }}">
                {{ deadline.old | date: datefmt }}
              </time>
            </s>
            &nbsp;extended to
          {% endif %}
          <time datetime="{{ deadline.date }}">
            {{ deadline.date | date: datefmt }}
          </time>
          {% if deadline.enddate %}
            -
            {% if deadline.endold %}
              <s>
                <time datetime="{{ deadline.endold }}">
                  {{ deadline.endold | date: datefmt }}
                </time>
              </s>
              &nbsp;extended to
            {% endif %}
            <time datetime="{{ deadline.enddate }}">
              {{ deadline.enddate | date: datefmt }}
            </time>
          {% endif %}
        {% endif %}

        {% if deadline.suffix %}{{ deadline.suffix }}{% endif %}

        {% if deadline.important %}</strong>{% endif %}
        {% if endunix < nowunix %}</s>{% endif %}
      </li>
    {% endif %}
    {% endunless %}
	{% endfor %}
</ul>
